In [2]:
# -----------------------------------------------------
# 결측치 (Missing Value)
# - 값이 들어 있지 않는 것을 의미
# - 표기 : NaN, NA
# -----------------------------------------------------

In [3]:
import pandas as pd
import numpy as np

In [26]:
# DF 생성 ---------------------------------------------
data=[[10,13,np.nan,7],[2,9,3,1],[21,31,np.nan,51],[21,31,np.nan,51]]

dataDF=pd.DataFrame(data)
dataDF

    0   1    2   3
0  10  13  NaN   7
1   2   9  3.0   1
2  21  31  NaN  51
3  21  31  NaN  51

In [27]:
dataDF.info()
# NaN 있어도 object는 아님 ( float64로 나옴 )

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       4 non-null      int64
 1   1       4 non-null      int64
 2   2       1 non-null      float64
 3   3       4 non-null      int64
dtypes: float64(1), int64(3)
memory usage: 256.0 bytes

In [28]:
dataDF.isnull()

       0      1      2      3
0  False  False   True  False
1  False  False  False  False
2  False  False   True  False
3  False  False   True  False

In [29]:
dataDF.isnull().sum() # 컬럼별 null 수
# axis=0 컬럼기준으로 로우들을 더해줌

0    0
1    0
2    3
3    0
dtype: int64

In [30]:
dataDF.isnull().sum(axis=1) # 로우별 null 수
# axis=1 로우기준으로 컬럼들을 더해줌

0    1
1    0
2    1
3    1
dtype: int64

In [31]:
dataDF.notnull() # isnull 반대

      0     1      2     3
0  True  True  False  True
1  True  True   True  True
2  True  True  False  True
3  True  True  False  True

In [32]:
# 결측치 계산 방법 (1) count()메서드 활용 : notnull()비슷
# nan 제외 값 갯수 가져오기 : count()
# 로우 갯수 가져오기 : shape[0] 
dataDF.shape[0] - dataDF.count() # 숫자 - 시리즈 연산 가능

0    0
1    0
2    3
3    0
dtype: int64

In [35]:
# 결측치 계산 방법 (2) value_counts()메서드 활용
# dropna=True : na 한개라도 있으면 삭제
dataDF.value_counts()

0  1  2    3
2  9  3.0  1    1
dtype: int64

In [36]:
dataDF.value_counts(dropna=False)

0   1   2    3
21  31  NaN  51    2
2   9   3.0  1     1
10  13  NaN  7     1
dtype: int64

In [ ]:
dataDF.value_counts(dropna=False)