In [1]:
# -----------------------------------------------------
# 데이터 결합과 결측치 (Missing Value)
# -----------------------------------------------------

In [2]:
import pandas as pd
import numpy as np

In [3]:
# csv 파일 2개 로딩 -------------------------------------
FILE1='../datafiles/survey_survey.csv'
FILE2='../datafiles/survey_visited.csv'

In [4]:
# DF 생성 ------------------------------------------------
vdDF=pd.read_csv(FILE2)
svDF=pd.read_csv(FILE1)

In [9]:
# 결측치 확인 ----------------------------------------------
vdDF.isnull().sum(), svDF.isnull().sum()

(ident    0
 site     0
 dated    1
 dtype: int64,
 taken      0
 person     2
 quant      0
 reading    0
 dtype: int64)

In [12]:
# 컬럼, 로우 속성 확인
vdDF.index , vdDF.columns, vdDF.shape

(RangeIndex(start=0, stop=8, step=1),
 Index(['ident', 'site', 'dated'], dtype='object'),
 (8, 3))

In [13]:
svDF.index , svDF.columns , svDF.shape

(RangeIndex(start=0, stop=21, step=1),
 Index(['taken', 'person', 'quant', 'reading'], dtype='object'),
 (21, 4))

In [16]:
# DF 합치기 --------------------------------------------------
# vdDF.merge(svDF)
# MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False
mDF=vdDF.merge(svDF,left_on='ident',right_on='taken')

In [19]:
mDF

    ident   site       dated  taken person quant  reading
0     619   DR-1  1927-02-08    619   dyer   rad     9.82
1     619   DR-1  1927-02-08    619   dyer   sal     0.13
2     622   DR-1  1927-02-10    622   dyer   rad     7.80
3     622   DR-1  1927-02-10    622   dyer   sal     0.09
4     734   DR-3  1939-01-07    734     pb   rad     8.41
5     734   DR-3  1939-01-07    734   lake   sal     0.05
6     734   DR-3  1939-01-07    734     pb  temp   -21.50
7     735   DR-3  1930-01-12    735     pb   rad     7.22
8     735   DR-3  1930-01-12    735    NaN   sal     0.06
9     735   DR-3  1930-01-12    735    NaN  temp   -26.00
10    751   DR-3  1930-02-26    751     pb   rad     4.35
11    751   DR-3  1930-02-26    751     pb  temp   -18.50
12    751   DR-3  1930-02-26    751   lake   sal     0.10
13    752   DR-3         NaN    752   lake   rad     2.19
14    752   DR-3         NaN    752   lake   sal     0.09
15    752   DR-3         NaN    752   lake  temp   -16.00
16    752   DR-3         NaN    752    roe   sal    41.60
17    837  MSK-4  1932-01-14    837   lake   rad     1.46
18    837  MSK-4  1932-01-14    837   lake   sal     0.21
19    837  MSK-4  1932-01-14    837    roe   sal    22.50
20    844   DR-1  1932-03-22    844    roe   rad    11.25

In [20]:
mDF.isnull().sum()

ident      0
site       0
dated      4
taken      0
person     2
quant      0
reading    0
dtype: int64